@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Poppins", sans-serif;
}
.App {
	max-width: 60%;
	margin: 0.5vh auto;
	overflow: auto;
	max-height: 100%;
	padding: 3vh;
	border-radius: 3vh;
	background-color: rgb(49, 43, 44);
	display: grid;
	grid-template-rows: 1fr;
}
.App h1 {
	grid-row: 1/3;
}
.Header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.5vh;
	color: #ccc;
	font-size: 2vh;
}
.todo-btn,
.done-btn,
.delete-btn,
.edit-btn {
	display: inline-block;
	background: #a2d5ab;
	color: rgb(35, 30, 31);
	border: #a2d5ab 0.5px solid;
	padding: 1vh 2vh;
	margin: 0.5vh;
	border-radius: 0.5vh;
	cursor: pointer;
	text-decoration: none;
	font-size: 1.5vh;
	font-family: inherit;
}
.todo-btn:hover,
.done-btn:hover,
.edit-btn:hover {
	background-color: #cbeed1;
	border: #557b83 0.5px solid;
}

.delete-btn {
	float: right;
	background-color: #c5211c;
	color: #ccc;
	border: #c5211c 0.5px solid;
}
.delete-btn:hover {
	background-color: #d36461;
	border: #c5211c 0.5px solid;
	color: black;
}
form,
nav,
.app-title {
	margin-bottom: 5vh;
	display: flex;
	justify-content: center;
	color: #ccc;
	text-transform: uppercase;
}
.page-status {
	color: #ccc;
	display: flex;
	justify-content: center;
	font-size: 3.5vh;
}
.done-status {
	display: inline-block;
	color: #557b83;
	margin: 1.25vh;
}
a {
	color: #a2d5ab;
	text-decoration: none;
	text-transform: uppercase;
}
a:hover {
	color: rgb(255, 255, 255);
}
input {
	font-size: 2vh;
	width: 50%;
	border-radius: 1.5vh;
}
.Task {
	width: 70%;
	margin: 2rem auto;
	box-sizing: border-box;
	background-color: rgb(234, 225, 225);
	border: 2px #eee;
	box-shadow: 0 1px 2px 3px #ccc;
	border-radius: 5px;
	padding: 1rem;
}
/* mobile responsiveness */
@media only screen and (min-width: 320px) and (max-width: 575px) {
	.app-title {
		font-size: 3vh;
	}
	.App {
		max-width: 90%;
		margin: 1.5vh auto;
		max-height: 100%;
	}
	.Header {
		font-size: 1.1vh;
		margin: 0;
	}
	.todo-btn,
	.done-btn,
	.delete-btn,
	.edit-btn {
		padding: 0.5vh 0.75vh;
		font-size: 1vh;
	}
	.delete-btn {
		display: flex;
	}
	.page-status {
		font-size: 2.5vh;
	}
	.done-status {
		font-size: 1vh;
		margin: 0;
	}
	input {
		font-size: 1.5vh;
		width: 65%;
	}
	.Task {
		width: 80%;
		height: 10.5vh;
	}
	h2 {
		font-size: 1.75vh;
	}
}
/* mobile responsiveness lanscape */
@media only screen and (min-height: 320px) and (max-height: 575px) {
	.app-title {
		font-size: 50vh;
	}
	.Header {
		font-size: 0.5vh;
	}
	.todo-btn,
	.done-btn,
	.delete-btn,
	.edit-btn {
		padding: 2vh 2.5vh;
		font-size: 2.5vh;
	}
	.page-status {
		font-size: 3.5vh;
	}
	.done-status {
		font-size: 3vh;
	}
	input {
		font-size: 2.5vh;
		width: 68%;
	}
	.Task {
		height: 20.5vh;
	}
	h2 {
		font-size: 3.5vh;
	}
}
/* tablet */
@media only screen and (min-width: 600px) and (max-width: 1000px) {
	.app-title {
		font-size: 3.5vh;
	}
	.App {
		max-width: 95%;
	}
	.Header {
		font-size: 2vh;
	}
	.todo-btn,
	.done-btn,
	.delete-btn,
	.edit-btn {
		padding: 1vh 2.5vh;
		font-size: 1.5vh;
	}
	.done-status {
		font-size: 1.75vh;
		margin-top: 0.75vh;
	}
	input {
		font-size: 2vh;
		width: 65%;
	}
	.Task {
		width: 80%;
		height: 10.5vh;
	}
	h2 {
		font-size: 2.25vh;
	}
}
/* tablet landscape*/
@media only screen and (min-height: 320px) and (max-height: 768px) {
	.app-title {
		font-size: 8vh;
	}
	.Header {
		font-size: 4.5vh;
	}
	.todo-btn,
	.done-btn,
	.delete-btn,
	.edit-btn {
		padding: 2vh 2.5vh;
		font-size: 2.5vh;
	}
	.page-status {
		font-size: 5.5vh;
	}
	.done-status {
		font-size: 4vh;
	}
	input {
		font-size: 3.75vh;
		width: 70%;
	}
	.Task {
		height: 25.5vh;
	}
	h2 {
		font-size: 4.5vh;
		margin-bottom: 1vh;
	}
}
/* Laptop */
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
	input {
		font-size: 2vh;
		width: 65%;
	}
	.Task {
		width: 75%;
		height: 10.5vh;
	}
	h2 {
		font-size: 2.25vh;
	}
}
/* Big Screen */
@media only screen and (min-width: 2560px) {
	.App {
		max-width: 60%;
	}
	.Header {
		font-size: 2vh;
	}
	.todo-btn,
	.done-btn,
	.delete-btn,
	.edit-btn {
		padding: 1vh 2.5vh;
		font-size: 1.5vh;
	}
	.done-status {
		font-size: 1.75vh;
		margin-top: 0.75vh;
	}
	input {
		font-size: 2vh;
		width: 65%;
	}
	.Task {
		width: 80%;
		height: 10.5vh;
	}
	h2 {
		font-size: 2.25vh;
	}
}
